
.card
{
    height:100%;;
    width:40%;
    border:2px solid red;
    margin:auto;
    padding:0;
    background-color:black;
    box-shadow:10px 10px red;
}
.radio
{
color:white; 
}  
.title 
{
color:red;
text-align:center;
font-weight:bold;
font-size:26px;
margin-top: 12px;
margin-bottom: 12px;
text-shadow: 1px 1px #ff0000;
}
label
{
color: white;
font-weight:bold;
}
.flex
{
display:flex;
flex-direction:row;
}