.navbar
{
    height:70px;
    width:100%;
    border:2px solid ;
    margin:0;
    margin-bottom:20px;
    background-color:black;
}
.title
{
    
    width:40%;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;

}
.title h2{
    color:red;
}
.links
{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    
}
.links a{
    color:white;
    margin:20px;
    text-decoration:none;
}